.nav {
  @apply sticky bg-white z-20 top-0 p-5 min-h-navBar flex flex-row items-center shadow-lg;
}

.navInternal {
  @apply container mx-auto max-w-screen-lg flex-row flex content-center text-white;
}

.logo {
  @apply flex flex-1 content-center items-center;
  height: var(--size-input);
}

.menu {
  @apply flex-auto flex flex-row-reverse content-center items-center;
  height: var(--size-input);
}

.menu .menuLinks {
  @apply hidden md:block;
  height: var(--size-input);
}
.menu .menuLinks .navPrimary {
  @apply flex flex-nowrap flex-row gap-4 justify-end whitespace-nowrap uppercase content-center items-center;
  height: var(--size-input);
}

.menu .menuMobileButton {
  @apply block md:hidden lg:hidden;
}

.menu .menuMobileButton .iconFaBars {
  @apply text-4xl border-transparent cursor-pointer text-accent;
}
